<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Layer</title>
    <meta name="description" content="Image Search Abstraction Layer - Backend Challenge from freeCodeCamp">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header></header>
      <h1>Image Search Abstraction Layer</h1>
      <p>
        <strong>Objective</strong>: Build a full stack JavaScript app that allows you to search for images like this: <a href="https://cryptic-ridge-9197.herokuapp.com/api/imagesearch/lolcats%20funny?offset=10">https://cryptic-ridge-9197.herokuapp.com/api/imagesearch/lolcats%20funny?offset=10</a> and browse recent search queries like this: <a href="https://cryptic-ridge-9197.herokuapp.com/api/latest/imagesearch/">https://cryptic-ridge-9197.herokuapp.com/api/latest/imagesearch/</a>. Then deploy it to Glitch.
      </p>
      <p>
        Note that for each project, you should create a new GitHub repository and a new Glitch project. If you can't remember how to do this, revisit <a href="https://freecodecamp.org/challenges/get-set-for-our-api-development-projects">https://freecodecamp.org/challenges/get-set-for-our-api-development-projects</a>.
      </p>
      <p>
        Here are the specific user stories you should implement for this project:
      </p>
      <p>
        <strong>User Story</strong>: I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
      </p>
      <p>
        <strong>User Story</strong>: I can paginate through the responses by adding a <code>?offset=2</code> parameter to the URL.
      </p>
      <p>
        <strong>User Story</strong>: I can get a list of the most recently submitted search strings.
      </p>
    </div>
  </body>
</html>
